*{
  font-family:"Roboto" ;
}

.abc{

  text-decoration: none;
  color: rgb(8, 8, 8);


}

.head{

  /* font-weight:100; */
  

   margin-bottom: 50px;
   display: flex;
   justify-content: center;
   margin-top: 50px;




  

}

.heading
{
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{


  display: flex;
  justify-content: center;
  align-items: center;
}

.def{
  text-decoration: none;

  color: white;

}

.succ{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

}


.active {
  
  /* color:rgb(60, 179, 215); */
}
.def .active {
  color: white;

}

.header .container {
  justify-content: center;
}
.input-group-text {
  background-color: #212529;
  color: #fff;
  font-weight: bold;
}
.edit,
.delete {
  padding: 0px 6px;
  border-radius: 2px;
}

.edit {
  margin-right: 10px;
}
table {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.cardContainer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 40px;
  margin: 40px;
}



@media (max-width:786px) {

  .cardContainer{
    display: flex;
    flex-direction: column;
  }
  
}

