.hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.herotext{
    width: 50%;

}

.text1{
    font-size: 40px;
}

.text2{
    font-weight: 300;
}

.imagic {
    width: 500px;
    display: flex;
    border-radius: 20%;
    align-items: center;

}





  @media (max-width: 768px) {
    .hero {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
    .text1{
        font-size: 30px;
    }
    .text2{
        font-size: 20px;
    }
    .imagic{
        width: 400px;
    }
  
  }
  